body {
    margin: 0px;
    font-family: 'Galano Grotesque Alt', Arial, sans-serif !important;
    background-color:#f7f7f7 !important;
    color: #666 !important;
  }
  
/*  menu */
 .menu{
  background-color: #2B3E6E;
  }

nav .navbar-nav li a{
  color: white !important;
  font-size: 17px;
  }

 
  nav li{
      text-align: center;
  }
  li > a:after{
      content: '';
      display: block;
      height: 1.5px;
      background: #f15221;
      transform: scaleX(0);
      transition: transform .3s;
      
  }
  li > a:hover:after{
      transform: scaleX(1);
      transition: transform .3s;
  }
  .active{
      color: #f15221 !important;
  }
  
  
/* carousel */

.carousel-caption { top: 50%; bottom: auto; } 

.linha{
  margin-top: 35px;
  background-color: #2B3E6E;
  border: 1px solid #2B3E6E;
  border-radius: 20px;
}

.titulo{
  color: #f15221;
  font-size: 40px;
  font-weight: bold;
   
}
.email{
  border: 3px solid #fff !important;
  background-color: #fff0 !important;
  border-radius: 20px !important;
  color: #fff !important;
  
}

.email:hover{
   border: 3px solid #fff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  
}

.email:focus{
  border: 3px solid #fff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  
}

/*vantagens*/

.box{
  width: 300px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
 background-color: #fff;
 border: 1px solid #d8d8d8;
 border-radius: 7px;
}

.box:hover{
  width: 300px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}


.box-esquerda{
  width: 70px;
  height: 200px;
  padding-top: 20px;
  float: left;
}
.box-direita{
  width: 300px;
  height: 100%;
  padding-top: 20px;
  padding-right: 5px;
}
/* depoimentos */
.img-depoimento{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.depoimento-centralizar{
  
  width: 240px;
  margin-left: auto;
  margin-right: auto;

}

.titulo-cinza{
  color: #444444;
  font-size: 25px;
  font-weight: bold;
 
}

.sub-titulo{
  color: #b7b297;
  font-size: 17px;
  font-weight: bold;
}

.logo-icon{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  
}

/*contato*/
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.border-sombra{
  box-shadow: 10px 10px 5px grey;
}

.imagem-localizacao{
  margin-left: auto;
  margin-right: auto;
  
}

/* teste de teste */
.teste{
  border: 1px solid #2B3E6E;
}


.teste2{
  border: 1px solid #f15221;
}
