body {
  margin: 0px;
  font-family: 'Galano Grotesque Alt', Arial, sans-serif !important;
  background-color:#f7f7f7 !important;
  color: #666 !important;
  
}

/*  menu */
.menu{
background-color: #2B3E6E;

}



nav .navbar-nav li a{
color: white !important;
font-size: 17px;
}


nav li{
    text-align: center;
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #f15221;
    transform: scaleX(0);
    transition: transform .3s;
    
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}




/*teste de background com div */
.imagem-principal{

  height: 100vh;
  color: #fff;
 }

 @media screen and (max-width: 1000px) {
 .imagem-principal{
  height: 50vh;
 }

}

.centro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}  

 
  
  .tamanho-input{
  width: 800px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  }
  
.titulo-slider{
font-size: 40px; 
}


.overlay{
  width: 100%;
  height: 100%;
  background: rgba(179, 179, 179, 0.25);

}

@media screen and (min-width: 600px) {
  .overlay {
    font-size: 40px;
  }
  .ICOM{
    font-size: 80px;
    font-weight: bold;
    
    }
}

@media screen and (max-width: 600px) {
  .overlay {
    font-size: 20px;
  }
  .ICOM{
    font-size: 40px;
    font-weight: bold;
    
    }
}

.texto-icom{
color: #f15221;
}



.titulo{
color: #f15221;
font-size: 40px;
font-weight: bold;
 
}

.cotacao-email{
  height: 32px;
  width: 500px;
  background-color: #fff !important;
  border-radius: 20px !important; 
  float: left;
}


.row-cotacao{
width: 550px;
height: 35px;
background-color: #fff;
border-radius: 20px;
border: 1px solid  #dfe1e5;

}

.email{

font-size: 20px;
margin-top: 3px;
width: 100%;
text-align: center;
display: flex;
background: transparent; 
border: none; 
flex: 0 0 auto; 
padding: 0;  
outline-style: none !important;
color: #666;
}

.email:hover,
.email:focus
.botao-cotacao:hover,
.botao-cotacao:focus{
outline-style: none;
}

.botao-cotacao{

display: flex;
background-repeat: no-repeat;
border: none;
background-color: transparent;
cursor: pointer; 
}

.row-cotacao:hover,
.cotacao-email:focus{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/* icone com svg *-**/
svg {
  height: 26px;
  width: 26px;
  margin-top: 3px;
}
.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #535353;
}
/* separador linha */
.linha-icom{
  margin-top: 65px;
  background-color: #2B3E6E;
  border: 2px solid #2B3E6E;
  border-radius: 20px;
  }
  
  
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    
  }
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border: 1px solid #2B3E6E;
    border-radius: 20px;
  }
  .separator::before {
    margin-right: 25px;
  }
  .separator::after {
    margin-left: 25px;
  }
  


/*vantagens*/
.box-externo{
  width: 310px;
  height: 210px;
  margin-right: auto;
  margin-left: auto;

  }

.box{
width: 300px;
height: 200px;
margin-right: auto;
margin-left: auto;
background-color: #fff;
border: 1px solid #d8d8d8;
border-radius: 7px;
}

.box:hover{
width: 300px;
height: 200px;
margin-right: auto;
margin-left: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#pip::after{
  content: url(../img/pip.png);
}
#maos::after{
  content: url(../img/maos.png);
}
#money::after{
  content: url(../img/money.png);
}


.box-esquerda{
height: 100%;
width: 70px;
padding-top: 20px;
float: left;
}



.box-direita{
width: 300px;
height: 100%;
padding-top: 20px;
padding-right: 5px;
}

.vantagnes-fundo{
  background-color: #f15221;
}

.depoimentos-fundo{
  background-image: url(../img/teste2.png);
  margin-bottom: 50px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  color: #fff;
}

/* depoimentos */
.img-depoimento{
width: 150px;
margin-left: auto;
margin-right: auto;
border-radius: 50%;
}

.depoimento-centralizar{

width: 240px;
margin-left: auto;
margin-right: auto;

}

.logo-icon{
margin-left: auto;
margin-right: auto;
width: 250px;

}

/* testemunho com slider */
#titulo-depoimentos{
  color: #fff;
}


.testimonial{
  padding: 0 15px;
  text-align: center;
}
.testimonial .pic{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .description{
  padding: 0 15px;
  font-size: 17px;
  color: #fff;
  line-height: 26px;
}
.testimonial .testimonial-title{
  font-size: 14px;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  position: relative;
}
.testimonial .testimonial-title:after{
  content: url(../img/icon.png);
  
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  display: inline-block;
  width: 100%;
  font-size: 40px;
  color: #54478a;
  margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background: #f3904d;
  margin: 5px 7px;
  opacity: 0.5;
}

/*contato*/
.map-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.border-sombra{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagem-localizacao{
margin-left: auto;
margin-right: auto;
  }
#localizacao::after{
  content: url(../img/localizacao.png);
}
#telefone::after{
  content: url(../img/telefone.png);
}
#email::after{
  content: url(../img/email.png);
}

#nome::before{
  content: url(../img/nome.png);
}
#email2::before{
  content: url(../img/email2.png);
}
#titulo-email::before{
  content: url(../img/titulo-email.png);
}
#mensagem::before{
  content: url(../img/mensagem.png);
}
 .carousel-control-prev-icon {
  background-image: url(../img/seta-pra-esquerda.png);
  width: 32px;
  height: 32px;
 
}
 .carousel-control-next-icon {
  background-image: url(../img/seta-pra-direita.png);
  width: 32px;
  height: 32px;
 
}


/* tela de agradecimento pelo email*/
.agradecimento{
  width: 100%;
  height: 100vh;
  background-image: url(../img/teste2.png);
  text-align: center;
}

.tamanho{
  font-family: 'Nunito', sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
 
}
.email-obrigado{
  font-size: 80px;
  font-family: 'Maiden Orange', cursive !important;
}


/* teste de teste */
.teste{
  border: 1px solid #2B3E6E;
  }
  
  
.teste2{
  border: 1px solid #f15221;
}

.fixo {
  z-index: 199;
  position: fixed;
  top: 70px;
 }

.footer{
  color: #fff;
}

#icon-facebook::before{
  content: url(../img/facebook.png);
}

#icon-linkedin::before{
  content: url(../img/linkedin.png);
}

#icon-instagram::before{
  content: url(../img/instagram.png);
}

.font-size-13{
  font-size: 13px;
}


